.news-item-detail {
	&-image {
		max-width: 100%;
		height: auto;
	}

	&-title {
		margin-top: .5em !important;
		font-size: 1.5em;
	}

	&-description {
		margin-top: 1em;
	}

	&-info-container {
		display: flex !important;
		font-size: .9em;
		color: lighten(#333, 30%);
	}

	&-author {
		margin-right: 1em;
	}
}

.link-to-article {
	margin-top: 1em;
}
