.item {
	display: flex !important;
	flex-direction: row;
	cursor: pointer !important;
	@media screen and (min-width: 768px) {
		flex-direction: column;
	}

	.news-item-title {
		font-size: .8em;
		max-height: 124px;

		@media screen and (max-width: 767px) {
			margin-left: 1em;
		}
		@media screen and (min-width: 768px) {
			flex-direction: column;
			margin-top: 1em;
			font-size: 1em;
		}
	}
}

#news-item,
#technology-item,
#business-item {
	@media screen and (min-width: 768px) {
		max-width: 183px;
	}
	@media screen and (min-width: 992px) {
		max-width: 209px;
	}
}

#news-item-divider,
#technology-item-divider,
#business-item-divider {
	@media screen and (min-width: 768px) {
		display: none;
	}
}

#news-item-image,
#technology-item-image {
	max-width: 180px;
	border-radius: 5px;
	@include box-shadow;
	@media only screen and (max-width: 400px) {
		max-width: 148px;
	}
}
