.current-weather {
	&-container {
		color: $light-text;
		display: flex !important;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 80vh;
	}

	&-temperature {
		margin: .5em 0rem;
		font-size: 6em;
	}

	&-description {
		text-transform: capitalize;
	}

	&-summary-inner-container {
		margin-right: 1em;
	}

	&-summary-container {
		margin-top: 2em;
		background: rgba(255, 255, 255, .25);
		padding: 2em 1em;
		border-radius: 7px;
		display: flex;
		justify-content: center;
		max-width: 375px;
		@include box-shadow;
	}

	&-details {
		background: #fff;
		color: #333;
		padding: 1em;
		border-radius: 7px;
		margin-top: 2em;
		width: 100%;
		max-width: 475px;
		@include box-shadow;
	}

	&-feels-like-temp {
		font-size: 2.5em;
		margin: .5em 0em;
	}

	&-wind-container,
	&-humidity-container,
	&-dewpt-container,
	&-pressure-container,
	&-visibility-container {
		display: flex;
	}

	&-wind,
	&-humidity,
	&-dewpt,
	&-pressure,
	&-visibility {
		margin-left: auto;
	}
}

.forecast-type-strip {
	background: darken($main-blue, 10%);
	color: $light-text;
	align-items: center;

	#forecast-type-strip-container {
		justify-content: space-between;
		display: flex;
		padding: .5em 0em;
	}
}
