.hourly-weather-container {
	margin-left: auto;
	margin-right: auto;
}

.hourly-weather-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	border-radius: 7px;
	margin-top: 1em;
	text-align: center;
	max-width: 500px;
	.weather-item-temp {
		margin-right: 1em;
	}
}
