.hourly-weather-container {
	max-width: 650px;
	margin: auto;
	margin-top: 3em;
}

.hourly-weather-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	border-radius: 7px;
	margin-top: 1em;
	text-align: center;
	margin-top: 1.5em;
	.weather-item-temp {
		margin-right: 1em;
	}
}
