@import './utilities/variables';
@import './utilities/mixins';
@import './layout/navbar.scss';
@import './news-items-styles/homepageNews.scss';
@import './news-items-styles/newsItem';
@import './news-items-styles/newsItemDetail';
@import './news-items-styles//top-headlines';
@import './weather-styles/currentWeather.scss';
@import './weather-styles/mainWeather.scss';
@import './weather-styles/dailyWeatherItem.scss';
@import './weather-styles/hourlyWeather.scss';
@import './layout/error';
@import './layout/footer';

// styling for sticky footer
.main-content {
	min-height: 100vh;
}

.main-content::after {
	content: '';
	display: block;
}

.footer-container,
.main-content::after {
	height: 100px;
}

body {
	font-family: 'Noto Sans', sans-serif;
}
